<div class="container">
  <div [formGroup]="signupForm">
      <div formGroupName="userData">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            class="form-control">{{username}}
            <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
            class="help-block">Please enter a username!</span>
        </div>
      </div>  
  </div>
</div>

